*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
nav{
    width: 80%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2{
    font-size: 50px;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

.font-open-sans{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

#banner{
    margin: 45px 40px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    color:#181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 20px;
}
#banner .hardy img{
    width: 660px;
    vertical-align: middle;
}


.about-container{
    background-color: #FFF8F3;
    margin: 130px 230px;
    padding: 131px 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container h3{
    margin-bottom: 30px;
    font-size: 35px;
}
.about-container #about-me{
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: lighter;
}
.about-container .about-info{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.about-info{
    text-align: center;
    font-size: 15px;
}
.about-info p{
    font-weight: lighter;
}


.skill-container{
    margin: 130px 230px;
}
.about-work{
    text-align: center;
    max-width: 830px;
    margin: 0 auto 50px;
}

.skill-container .about-work h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.skill-container .about-work p{
    font-size: 18px;
    font-weight: lighter;
}


.skill-card-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.skill-card-container .skill-card{
    height: auto;
    width: 370px;
    padding: 30px;
    box-shadow: 0 0 10px lightgray;
}
.skill-card-container .skill-card img{
    margin-bottom: 30px;
}
.skill-card-container .skill-card h3{
    margin-bottom: 20px;
    font-size: 15px;
}
.skill-card-container .skill-card p{
    font-size: 16px;
    font-weight: lighter;
}



#resume{
    text-align: center;
}
#summary{
    margin-bottom: 113px;
    font-size: 30px;
}
.resume-container{
    display: flex;
    margin: 0 230px;
    gap: 24px;
    text-align: left;
}
#resume .resume-container .education h3{
    font-size: 25px;
    margin-bottom: 30px;
}
#resume .resume-container .education .edu-info h4{
    font-size: 18px;
    margin-bottom: 10px;
}
#resume .resume-container .education .edu-info .college{
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 20px;
}
#resume .resume-container .education .edu-info .info{
    font-weight: lighter;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 30px;
}
#resume .resume-container .education .edu-info hr{
    margin-bottom: 30px;
}
#resume .resume-container .experience h3{
    font-size: 25px;
    margin-bottom: 30px;
}
#resume .resume-container .experience .exp-info h4{
    font-size: 18px;
    margin-bottom: 10px;
}
#resume .resume-container .experience .exp-info .company{
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 20px;
}
#resume .resume-container .experience .exp-info .info{
    font-weight: lighter;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 30px;
}
#resume .resume-container .experience .exp-info hr{
    margin-bottom: 30px;
}
#resume .button{
    margin-bottom: 113px;
}


footer{
    background-color:#FFF8F3;
    height: 780px;
    padding: 130px 230px;
}
footer .container{
    display: flex;
    gap: 115px;
}
footer .container .connect, footer .container .connect{
    width: 460px;
}
footer .container .connect h4, footer .container .message h4{
    font-size: 30px;
    margin-bottom: 30px;
}
footer .container .connect p{
    font-weight: lighter;
    margin-bottom: 30px;
}
footer .message form{
    display: flex;
    flex-direction: column;
}
#name, #email{
    height: 64px;
    width: 100%;
    margin-bottom: 24px;
}
#area{
    height: 180px;
    margin-bottom: 20px;
    padding: none;
}

.hide{
    display: none !important;
}

@media screen and (max-width:576px){
    header {
        background: url(../images/header_bg.png);
        background-repeat: no-repeat;
        background-position:bottom center;
    }
nav {
    flex-direction: column;
    margin: 0;
    width: 100%;

}
nav .menu{
    flex-wrap: wrap;
    margin: 30px;
}
#banner{
    flex-direction: column;
    width: 100%;
    margin: 0;
}
#banner .banner-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#banner .banner-content .buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
#banner .banner-content h2{
    font-size: 30px;
}
#banner .banner-content h1{
    font-size: 50px;
}
#banner .hardy img{
    width: 100%;
    margin-top: 30px;
}
.about-container{
    margin: 0;
    padding: 30px;
}
.about-container h3{
    font-size: 25px;
}
.about-container .about-info {
    flex-direction: column;
    gap: 30px;
}

        .skill-container{
            margin: 0;
            width: 90%;
            margin: 0 auto;
            margin-top: 60px;
        }

.skill-container .about-work p {
    font-size: 18px;
    font-weight: lighter;
    text-align: justify;
}
.skill-card-container {
    flex-direction: column;
    align-items: center;
}
.skill-card-container .skill-card{
    width: 100%;
}
#summary {
    margin: 60px 0;
    font-size: 30px;
}
.resume-container{
    margin: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.resume-container .education, .resume-container .experience{
    width: 90%;
}
footer{
    padding: 30px;
    margin-top: 60px;
}
footer .container {
    flex-direction: column;
    gap: 50px;
}
footer .container .connect, footer .container .connect{
    width: 100%;
}
#area{
    height: 180px;
    padding: 5px;
}
}

